---
interface Props {
    title: string;
    description: string;
    image: string;
    tags: string[];
}

const { title, description, image, tags } = Astro.props;
---

<div class="project">
    <div class="project-image">
        <img src={image} alt={title}>
    </div>
    <div class="project-content">
        <h4>{title}</h4>
        <p>{description}</p>
        <div class="project-tags">
            {tags.map(tag => <span class="tag">{tag}</span>)}
        </div>
    </div>
</div>